@function test_getButtonMap($config, $button-type, $expected){
    $test : getButtonMap($config, $button-type);
    @return unitTest($test, $expected, 'getButtonMap');
}

@function test_getButtonVariant($config, $variant-key, $expected){
    $test : getButtonVariant($config, $variant-key);
    @return unitTest($test, $expected, 'getButtonVariant');
}

$default-variant : userControlTemplate($color-template);
$normal-map : ('default': $default-variant);
$config : (
    button: (
        normal: $normal-map
    )
);

@debug '';
@debug '--------------- button map access unit test ----------------------';
@debug test_getButtonMap($config, 'normal', $normal-map);
@debug test_getButtonVariant($config, 'default', $default-variant);