@function test__getButtonConfiguration($config, $expected){
    $test: _getButtonConfiguration($config);
    @return unitTest($test, $expected, '_getButtonConfiguration');
}

@function test__getButtonMapping($config, $button-type, $expected){
    $test : _getButtonMapping($config, $button-type);
    @return unitTest($test, $expected, '_getButtonMapping');
};

$button-mapping : (
    'default':userControlTemplate($color-template),
);

$config:(
    'button': $button-mapping
);

@debug '';
@debug '== button map access unit test ===================================================';
@debug test__getButtonConfiguration($config, $button-mapping);
@debug test__getButtonMapping($config, 'default', userControlTemplate($color-template));