@function test__checkMapTypeExists($key, $map-types, $expected){
    $test : _checkMapTypeExists($key, $map-types);
    @return unitTest($test, $expected, 'checkMapTypeExists');
}

@function test_getUserControlMapping($config, $expected){
    $test : getUserControlMapping($config);
    @return unitTest($test, $expected, 'getUserControlMapping');
}

$map-types:(
    'type1',
    'type2'
);
$test:(
    'user-control':'salut'
);


@debug '';
@debug '== theme configuration unit tests ==============================================';
@debug test__checkMapTypeExists('type1', $map-types, 'type1');
@debug test__checkMapTypeExists('type2', $map-types, 'type2');
@debug test_getUserControlMapping($test, 'salut');