
@import './src/api/core/type';
@import './src/api/template/user-control-template';
@import './src/api/template/color-template';
@import './src/api/template/partials';
@import './src/api/configuration/button';
@import './src/api/configuration/theme';

$color-template : colorTemplate(red, green, blue, yellow);
$primary-template : colorTemplate(green, violet, cyan, yellow);
$default-variant : userControlTemplate($color-template);
$primary-variant : userControlTemplate($primary-template);
$normal-map : ( 
    'default': $default-variant,
    'primary': $primary-variant
);
$toggle-map: ('default': $default-variant);
$theme : (
    'button': (
        'normal': ( 
            'default': $default-variant,
            'primary': $primary-variant
        ),
        'toggle': $toggle-map
    )
);

   

@mixin button_rule($config){

    .normal-button{
        
        &--default{
            $default: getNormalButtonVariant($config, 'default');
            $base: getBaseUserControlTemplate($default);
            @include colorTemplateBasics($base);
        }

        &--primary{
            $primary: getNormalButtonVariant($config, 'primary');
            $base: getBaseUserControlTemplate($primary);
            @include colorTemplateBasics($base);
        }
    }

    .toggle-button{
        $default: getToggleButtonVariant($config, 'default');
        $base: getBaseUserControlTemplate($default);     
        
        &--default{
            @include colorTemplateBasics($base);
        }
    }

    @debug 'button_rule >>> passed';
};

@include button_rule($theme);