@import '../../theme-api/button';
@import '../../theme-api/common';

@mixin button($theme-config) {

    .btn{
        &--default{
        
            $control-template : buttonConfig_getTemplate($theme-config, 'default');
            $base: userControlTemplate_getBase($control-template);
            @include createColorTemplateBasics($base);
        }
        &--primary{
            $control-template : buttonConfig_getTemplate($theme-config, 'primary');
            $base: userControlTemplate_getBase($control-template);
            @include createColorTemplateBasics($base);
        }
    }

    @debug "button mixin generated";
}