// misc 
$bright-blue:           #007bff;
$marine:                #031b7b;
$pale-grey:             #f8f9fa;
$pale-grey-2:           #e5ebf2;
$pale-grey-3:           #f2f4f5;
$charcoal-grey:         #343a40;
$faded-red:             #dc3545;
$marigold:              #ffc107;
$topaz:                 #17a2b8;
$jade-green:            #28a745;
$battleship-grey:       #6c757d;
$white:                 #fff;
$turquoise:             #2893a4;

// brand
$suez-expert-blue:      #030f40;
$suez-bright-green:     #a2c617;

// alerts
$ud-danger:           #e43546;
$ud-warning:          #e68d0b;
$ud-success:          #28a745;
$ud-info:             #2893a4;

// UI
$ud-primary:          #6a70dc;
$ud-primary-fo:       #b6b7ff;
$ud-secondary:        #2893a4;
$ud-secondary-fo:     #aadee6;
$ud-default:          #60707f;
$ud-light:            #f7fafc;
$ud-dark:             #313b44;
$ud-medium:           #a5b3c0;

//grey scale
$grey-scale-1 : #f8f9fa;
$grey-scale-2 : #d5dee8;
$grey-scale-3 : #e5ebf2;
$grey-scale-4 : #f2f4f5;
$grey-scale-5 : #6c757d;
$grey-scale-6 : #343a40;