@import '../unit-test';
@import '../../src/theme-api/button';

$button-mapping:(
    'default':'mapping'
);

$theme-config:(
    'button':$button-mapping
);

@function test_buttonConfig_getTemplate($theme-config, $map-key, $expected){
    $test: buttonConfig_getTemplate($theme-config, $map-key);
    @return unitTest($test, $expected, "buttonConfig_getTemplate should return '#{$expected}'");
}

@debug "";
@debug "== test button ===========================================";
@debug test_buttonConfig_getTemplate($theme-config,'default', 'mapping');