@import '../unit-test';
@import '../../src/theme-api/button';

$button-mapping:(
    'default':'mapping'
);

$theme-config:(
    'button':$button-mapping
);

@function test__getButtonConfig($theme-config, $expected){
    $test: _getButtonConfig($theme-config);
    @return unitTest($test, $expected, "getButtonConfig should return '$button-mapping' object");
}

@function test_getButtonControlTemplate($theme-config, $map-key, $expected){
    $test: getButtonControlTemplate($theme-config, $map-key);
    @return unitTest($test, $expected, "getButtonConfig should return '#{$expected}'");
}

@debug "";
@debug "== test button ===========================================";
@debug test__getButtonConfig($theme-config, $button-mapping);
@debug test_getButtonControlTemplate($theme-config,'default', 'mapping');