@import '../unit-test';
@import '../../src/theme-api/common/color-template';

@function test_colorTemplate_getBackground($color-template, $expected){
    $test: colorTemplate_getBackground($color-template);
    @return unitTest($test, $expected, "colorTemplate_getBackground");
}

@function test_colorTemplate_getForeground($color-template, $expected){
    $test: colorTemplate_getForeground($color-template);
    @return unitTest($test, $expected, "colorTemplate_getForeground");
}

@function test_colorTemplate_getBorder($color-template, $expected){
    $test : colorTemplate_getBorder($color-template);
    @return unitTest($test, $expected, "colorTemplate_getBorder");
}

@function test_colorTemplate_getOutline($color-template, $expected){
    $test : colorTemplate_getOutline($color-template);
    @return unitTest($test, $expected, "colorTemplate_getOutline");
}

$color-template : colorTemplate(red, green, blue, yellow);

@debug '';
@debug '== colorTemplate unit tests =========================================';
@debug test_colorTemplate_getBackground($color-template, red);
@debug test_colorTemplate_getForeground($color-template, green);
@debug test_colorTemplate_getBorder($color-template, blue);
@debug test_colorTemplate_getOutline($color-template, yellow);