@import '../unit-test';
@import '../../src/theme-api/common/user-control-template';

@function test_userControlTemplate_getBase($control-template, $expected){
    $test : userControlTemplate_getBase($control-template);
    @return unitTest($test, $expected, "userControlTemplate_getBase");
}

@function test_userControlTemplate_getHover($control-template, $expected){
    $test : userControlTemplate_getHover($control-template);
    @return unitTest($test, $expected, "userControlTemplate_getHover");
}

@function test_userControlTemplate_getFocus($control-template, $expected){
    $test : userControlTemplate_getFocus($control-template);
    @return unitTest($test, $expected, "userControlTemplate_getFocus");
}

@function test_userControlTemplate_getActive($control-template, $expected){
    $test : userControlTemplate_getActive($control-template);
    @return unitTest($test, $expected, "userControlTemplate_getActive");
}


$base-color-template : colorTemplate(red, green, blue, yellow);
$hover-color-template : colorTemplate(violet, pink, bisque, black);
$focus-color-template : colorTemplate(orange, lightgreen, lightblue, lightpink);
$active-color-template : $base-color-template;
$control-template : userControlTemplate($base-color-template, $hover-color-template, $focus-color-template, $active-color-template);

@debug '';
@debug '== userControlTemplate unit tests =================================================';
@debug test_userControlTemplate_getBase($control-template, $base-color-template);
@debug test_userControlTemplate_getHover($control-template, $hover-color-template);
@debug test_userControlTemplate_getFocus($control-template, $focus-color-template);
@debug test_userControlTemplate_getActive($control-template, $active-color-template);
