@import '../common/color-palette';

// alerts
$alert : (
    'success':$green-1,
    'warning':$orange-1,
    'alert':$red,
    'info':$blue-1
);

$ui:(
    'primary':$blue-1,
    'primary-variant':$blue-2
);

$color-config:(
    'alert':$alert,
    'ui':$ui
)